* {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
}

img {
  height: 200px;
  width: auto;
}

h1 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5%;
}

h2 {
  color: #0984e3;
  /* font-weight: normal; */
}

p {
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
}

li {
  font-size: 20px;
  font-weight: lighter;
}

.background-blue {
  background-color: #74b9ff;
}

/* entire container, keeps perspective */
.flip-container {
  padding: 2%;
  perspective: 1000px;
  background: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

/* flip the pane when hovered */
.flip-container:active .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  height: 450px;
  width: 650px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.even {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between;
}

.top {
  height: 15%;
  border-bottom: 1px dashed black;
}

.middle {
  height: 55%;
  align-items: center;
}

.bottom {
  height: 30%;
  border-top: 1px dashed black;
}

.blue-back {
  background-color: #74b9ff;
}

.width-50 {
  width: 50%;
}

.height-50 {
  height: 50%;
}

.height-85 {
  height: 85%;
}

.sml-top-marg {
  margin-top: 20px;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid #74b9ff;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 180%;
  font-size: 33px;
  font-weight: lighter;
}

.top-right-corner {
  border-left: 1px dashed black;
  border-bottom: 1px dashed black;
}

.btm-left-corner {
  border-right: 1px dashed black;
  border-top: 1px dashed black;
}

.sml-pad {
  padding: 15px;
}

/* slide 1 */
.slide1 {
  -webkit-animation: slideIn 3s forwards;
  -moz-animation: slideIn 3s forwards;
  animation: slideIn 3s forwards;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

/* slide 2 */

.slide2 {
  -webkit-animation: slideIn2 2.5s forwards;
  -moz-animation: slideIn2 2.5s forwards;
  animation: slideIn2 2.5s forwards;
}

@-webkit-keyframes slideIn2 {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn2 {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn2 {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

/* slide 3 */

.slide3 {
  -webkit-animation: slideIn2 2s forwards;
  -moz-animation: slideIn2 2s forwards;
  animation: slideIn2 2s forwards;
}

@-webkit-keyframes slideIn3 {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn3 {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn3 {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

.image {
    -webkit-animation: fadeInRight 2s ease-in-out;
    /* Chrome, Safari, Opera */
    animation: fadeInRight 2s ease-in-out;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.order1 {
  white-space: nowrap;
  overflow: hidden;
  animation: order1 2s steps(30, end) 1s 1 normal both;
}

@keyframes order1 {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

.order2 {
  white-space: nowrap;
  overflow: hidden;
  animation: order2 2s steps(30, end) 1s 1 normal both;
  animation-delay: 2s;
}

@keyframes order2 {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

.order3 {
  white-space: nowrap;
  overflow: hidden;
  animation: order3 2s steps(30, end) 1s 1 normal both;
  animation-delay: 3s;
}

@keyframes order3 {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

.order4 {
  white-space: nowrap;
  overflow: hidden;
  animation: order4 2s steps(30, end) 1s 1 normal both;
  animation-delay: 2.5s;
}

@keyframes order4 {
  from {
    width: 0;
  }

  to {
    width: 150px;
  }
}
