/*   
  font-family: 'Roboto', sans-serif;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  lighter blue: #74b9ff
  darker blue: #0984e3
*/

body {
  height: 100%;
  background-color: #74b9ff;
}

main {
  background-color: white;
  height: 500px;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}