/*   
  font-family: 'Roboto', sans-serif;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  lighter blue: #74b9ff
  darker blue: #0984e3
*/

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #74b9ff;
}

main {
  background-color: white;
  height: 500px;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 2%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align {
  align-content: center;
}

.between {
  justify-content: space-between;
}

.top {
  height: 15%;
  border-bottom: dashed 1px black;
}

.middle {
  height: 55%;
}

.bottom {
  height: 30%;
  border-top: dashed 1px black;
}

.info {
  height: 90%;
}

.half-width {
  width: 50%;
}

h1 {
  font-size: 30px;
  margin-top: 0;
}

p {
  font-size: 24px;
  margin: 0;
}

img {
  width: 100%;
  margin: auto;
}

.bold {
  font-weight: 700;
}

.blue {
  color: #0984e3;
}
