/*   
  font-family: 'Roboto', sans-serif;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  lighter blue: #74b9ff
  darker blue: #0984e3
*/

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

main {
  background-color: white;
  height: 500px;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 2%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align {
  align-content: center;
}

.between {
  justify-content: space-between;
}

.even {
  justify-content: space-evenly;
}

.top {
  height: 15%;
  border-bottom: dashed 1px black;
}

.middle {
  height: 60%;
}

.bottom {
  height: 25%;
  border-top: dashed 1px black;
}

.info {
  height: 82%;
}

.half-width {
  width: 50%;
}

h1 {
  font-size: 30px;
  margin-top: 0;
}

p {
  font-size: 24px;
  margin: 0;
}

img {
  height: 85%;
  width: 100%;
  margin: auto;
}

.bold {
  font-weight: 700;
}

.text-blue {
  color: #0984e3;
}

.background-blue {
  background-color: #74b9ff;
}

.border-blue {
  border: 3px solid #74b9ff;
}

.marg-top {
  margin-top: 20px;
}

.circle {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 190%;
  font-size: 35px;
}
